# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Data and Models
data/upi_transactions.csv
models/

# Node/React (Frontend)
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
